
module pcp_openmetrics 1.0;

require {
        type proc_net_t;
        type ntop_port_t;
        type init_t;
        type unreserved_port_t;
        type sysctl_net_t;
        type pcp_pmcd_t;
        type ldconfig_exec_t;
        type pcp_pmproxy_t;
        type tmp_t;
        type unconfined_service_t;
        class capability2 mac_admin;
        class file { execute execute_no_trans map open read };
        class tcp_socket name_connect;
        class lnk_file read;
}

#============= init_t ==============
allow init_t tmp_t:file open;

#============= pcp_pmcd_t ==============
allow pcp_pmcd_t ldconfig_exec_t:file { execute execute_no_trans open read };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow pcp_pmcd_t ldconfig_exec_t:file map;
allow pcp_pmcd_t ntop_port_t:tcp_socket name_connect;

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow pcp_pmcd_t unreserved_port_t:tcp_socket name_connect;

#============= pcp_pmproxy_t ==============
allow pcp_pmproxy_t proc_net_t:lnk_file read;
allow pcp_pmproxy_t sysctl_net_t:file read;

#============= unconfined_service_t ==============
allow unconfined_service_t self:capability2 mac_admin;
