[Unit]
Description=Run GPU Collector and OTEL Collector containers
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

# Clean up containers if they exist
ExecStartPre=-/usr/bin/podman stop gpu-collector
ExecStartPre=-/usr/bin/podman rm -f gpu-collector
ExecStartPre=-/usr/bin/podman stop otel-collector
ExecStartPre=-/usr/bin/podman rm -f otel-collector

# Start GPU Collector container
ExecStart=/usr/bin/podman run --rm -d \
    --device nvidia.com/gpu=all \
    --network=host \
    --security-opt label=disable \
    --name gpu-collector \
    -e GPU_APPLICATION_NAME='vllm' \
    -e GPU_ENVIRONMENT='rhelai' \
    -e OTEL_EXPORTER_OTLP_PROTOCOL='http/protobuf' \
    -e OTEL_EXPORTER_OTLP_ENDPOINT='http://127.0.0.1:4318' \
    ghcr.io/openlit/otel-gpu-collector:latest

# Start OTEL Collector container
# Update /LOCAL/PATH/TO
ExecStart=/usr/bin/podman run --rm -d \
    --name otel-collector \
    --network=host \
    --user=0 \
    -v /LOCAL/PATH/TO/otel-config.yaml:/etc/otelcol/config.yaml:Z \
    ghcr.io/os-observability/redhat-opentelemetry-collector/redhat-opentelemetry-collector:main \
      --config /etc/otelcol/config.yaml

# Clean shutdown
ExecStop=/usr/bin/podman stop gpu-collector
ExecStop=/usr/bin/podman stop otel-collector
