[Unit]
Description=Start Valkey container
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-/usr/bin/podman rm -f valkey

ExecStart=/usr/bin/podman run --rm -d --name valkey \
  --network=host \
  --security-opt label=disable \
  -e ALLOW_EMPTY_PASSWORD=yes \
  -v valkey-data:/data:Z \
  docker.io/valkey/valkey:latest

[Install]
WantedBy=default.target
