[Unit]
Description=Grafana container service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/podman run --rm -d --name grafana \
  --network=host  \
  --security-opt label=disable \
  -e GF_INSTALL_PLUGINS="https://github.com/performancecopilot/grafana-pcp/releases/download/v5.2.2/performancecopilot-pcp-app-5.2.2.zip;performancecopilot-pcp-app" \
  -e GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS="performancecopilot-pcp-app,pcp-valkey-datasource,pcp-vector-datasource,pcp-bpftrace-datasource,pcp-flamegraph-panel,pcp-breadcrumbs-panel,pcp-troubleshooting-panel,performancecopilot-valkey-datasource,performancecopilot-vector-datasource,performancecopilot-bpftrace-datasource,performancecopilot-flamegraph-panel,performancecopilot-breadcrumbs-panel,performancecopilot-troubleshooting-panel" \
  -e GF_PATHS_DATA=/grafana-data  \
  -v grafana-data:/grafana-data:Z   \
    docker.io/grafana/grafana

[Install]
WantedBy=default.target

